
      <div class="card" style="width: 18rem;">
        <img src= "{{file}}" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Likes</h5>
              
          </div>
      </div>

        <p></p>