

{{!-- nav bar --}}


{{!-- card for images. add buttons to card below --}}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pet name</h5>
    <p class="card-text">Description of pic</p>
    <a href="#" class="btn btn-primary">Hot</a>
    <a href="#" class="btn btn-primary">Not</a>
  </div>
</div>
<script src="./js/homepage.js"></script>


