<div class="container mt-5">
	<div class="card" style="width: fill;">
		<img
			src="https://res.cloudinary.com/di4jj6chw/image/upload/v1679348306/b75mwkrlsid6r7eocxde.webp"
			class="card-img-top d-flex justify-content-center"
			alt="pet pic"
		/>
		<div class="card-body">
			
			<p class="card-text d-flex justify-content-center">Likes</p>
			<div class="container mt-5 d-flex justify-content-center">
				<button id="not" class="btn btn-primary m-4 pb-5" style="width: 50%;">Not</button>
				<button id="hot" class="btn btn-primary m-4 pb-5 bg-danger"style="width: 50%;">Hot</button>
			</div>
		</div>
	</div>
	<script src="./JS/homepage.js"></script>
</div>