<div class="container mt-5">
	<div class="card" style="width: fill;">
		<img
			src=""
			class="card-img-top d-flex justify-content-center"
			alt="pet pic"
		/>
		<div class="card-body">
			<h5 class="card-title d-flex justify-content-center">Pet name</h5>
			<p class="card-text d-flex justify-content-center">Description of pic</p>
			<div class="container mt-5 d-flex justify-content-center">
				<a href="#" class="btn btn-primary m-4 pb-5" style="width: 50%;">Not</a>
				<a
					href="#"
					class="btn btn-primary m-4 pb-5 bg-danger"
					style="width: 50%;"
				>Hot</a>
			</div>

		</div>
	</div>
	<script src="./JS/homepage.js"></script>
</div>