

{{!-- nav bar --}}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link"href="Sorted"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="Profile"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="Add pic"></a>
      </li>
      </form>
    </div>
  </div>
</nav>


{{!-- card for images. add buttons to card below --}}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pet name</h5>
    <p class="card-text">Description of pic</p>
    <a href="#" class="btn btn-primary">Hot</a>
    <a href="#" class="btn btn-primary">Not</a>
  </div>
</div>
<script></script>


