<div class="container mt-5">
    <div class="row">
      
      <div class="col">
        <h1>Welcome {{user.email}}!</h1>
        <button id="logout" class="btn btn-primary">Logout</button>
      </div>

      <div class="col">
        <h1>File Upload</h1>
      <form id='form'>
          <div class="input-group">
              <label for='name'>Your name &nbsp</label>
              <input name='name' id='name' placeholder="Enter your name" />
          </div>
          <div class="input-group">
              <label for='image2'>Select Files &nbsp</label>
              <input id='image2' type="file" multiple>
          </div>
          <button class="submit-btn btn btn-primary" type='submit'>Upload</button>
      </form>
    </div>
</div>

<section>
  {{#each uPics as |Pics|}}
  {{> picsP}}
  {{/each}}
</section>
      <script src='/JS/script.js'></script>