{{!-- nav bar --}}



<div>{{user.email}}</div>


<body>
    <script src="c-js.js"></script>
</body>



{{!-- grid cards --}}
{{!-- all pics that were uploaded by the user. --}}
{{!-- copy from sorted --}}
{{!-- email at top of cards? --}}