{{!-- nav bar --}}



<div>{{user.email}}</div>


{{!-- <body>
    <script src="c-js.js"></script>
</body> --}}

    
    <div class="container">
        <h1>File Upload</h1>
        <form id='form'>
            <div class="input-group">
                <label for='name'>Your name</label>
                <input name='name' id='name' placeholder="Enter your name" />
            </div>
            <div class="input-group">
                <label for='imgae2'>Select files</label>
                <input id='image2' type="file" multiple>
            </div>
            <button class="submit-btn" type='submit'>Upload</button>
        </form>
    </div>
    <div class="logoutB">
        <button id = "logout" type="button">Logout</button>
    </div>

    <section class="pics">
  {{#each uPics as |pics|}}
  {{> picsP}}
  {{/each}}
    </section>



    <script src="/JS/logout.js"></script>
    <script src='/JS/script.js'></script>


{{!-- grid cards --}}
{{!-- all pics that were uploaded by the user. --}}
{{!-- copy from sorted --}}
{{!-- email at top of cards? --}}