
{{!-- change to grid cards. --}}

{{!-- add not sorted and hot sorted buttons --}}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pet name</h5>
    <p class="card-text">Description of pic</p>
  </div>
</div>
<script></script>